body {
    font-family: Arial, sans-serif;
}
header, nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f4f4f4;
}
button{
    background-color: #a7a7a7;
    border: none;
    cursor: pointer;
    height: 20px;
    width: 75px;
    size: 100px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
}
button:hover {
    background-color: #878787;
}
a{
    text-decoration: none;
    color: #000;
}
.logo {
    font-size: 24px;
    font-weight: bold;
}
#logo{
    width: 100px;
    height: 100px;
    margin: 0 auto;
}